# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment & Secret variables
.env

# Downloads directory
downloads/
*.mp4
*.mkv
*.webm
*.mov
*.jpg
*.jpeg
*.png
*.webp

# Logs
*.log

# Deno binary (auto-downloaded)
bin/

# Docker & IDE
.vscode/
.idea/
.DS_Store
